{{!-- Attack Roll Chat Card --}}
<div class="conan chat-card attack-roll">
  <div class="card-header">
    <img src="{{actor.img}}" alt="{{actor.name}}" />
    <div class="header-info">
      <h3>{{item.name}} Attack</h3>
      <span class="actor-name">{{actor.name}}</span>
    </div>
  </div>

  <div class="card-content">
    <div class="attack-info">
      <span class="attack-type">{{lookup ../config.weaponTypes attackType}}</span>
      <span class="range">Range: {{lookup ../config.ranges range}}</span>
    </div>

    <div class="roll-result">
      <div class="total {{#if isCritFail}}crit-fail{{/if}}">
        {{#if isCritFail}}
        <i class="fas fa-times-circle"></i> Critical Miss!
        {{else}}
        {{total}}
        {{/if}}
      </div>
      <div class="formula">{{formula}}</div>
    </div>

    {{#if flexTotal}}
    <div class="flex-result {{#if isFlex}}flex-triggered{{/if}}">
      <div class="flex-die">
        <span class="label">Flex Die:</span>
        <span class="value">{{flexTotal}}</span>
      </div>
      {{#if isFlex}}
      <div class="flex-notice">
        <i class="fas fa-star"></i> FLEX TRIGGERED!
        <div class="flex-options">
          <span>Gain 1 Stamina</span>
          <span>OR Auto-Hit</span>
        </div>
      </div>
      {{/if}}
    </div>
    {{/if}}

    <div class="target-info">
      <p class="instruction">Compare to target's <strong>Physical Defense</strong></p>
    </div>
  </div>
</div>
