{{!-- Stat Check Chat Card --}}
<div class="conan chat-card stat-check">
  <div class="card-header">
    <img src="{{actor.img}}" alt="{{actor.name}}" />
    <div class="header-info">
      <h3>{{statLabel}} Check</h3>
      <span class="actor-name">{{actor.name}}</span>
    </div>
  </div>

  <div class="card-content">
    <div class="roll-result">
      <div class="total {{#if isCritFail}}crit-fail{{/if}}">
        {{#if isCritFail}}
        <i class="fas fa-skull"></i> Critical Failure!
        {{else}}
        {{total}}
        {{/if}}
      </div>
      <div class="formula">{{formula}}</div>
    </div>

    {{#if flexTotal}}
    <div class="flex-result {{#if isFlex}}flex-triggered{{/if}}">
      <div class="flex-die">
        <span class="label">Flex Die:</span>
        <span class="value">{{flexTotal}}</span>
      </div>
      {{#if isFlex}}
      <div class="flex-notice">
        <i class="fas fa-star"></i> FLEX TRIGGERED!
        <div class="flex-options">
          <span>Gain 1 Stamina</span>
          <span>OR Auto-Success</span>
        </div>
      </div>
      {{/if}}
    </div>
    {{/if}}

    {{#if difficulty}}
    <div class="difficulty-info">
      <span class="label">Difficulty:</span>
      <span class="value">{{difficulty}}</span>
      <span class="result">{{#if (gte total difficulty)}}Success!{{else}}Failure{{/if}}</span>
    </div>
    {{/if}}
  </div>
</div>
