<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/></h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="form-group">
        <label>Armor Rating (AR)</label>
        <input type="text" name="system.armorRating" value="{{system.armorRating}}" data-dtype="Number"/>
      </div>

      <div class="form-group">
        <label>Armor Type</label>
        <select name="system.armorType">
          {{#select system.armorType}}
          <option value="light">Light (AR 1-2)</option>
          <option value="medium">Medium (AR 3-4)</option>
          <option value="heavy">Heavy (AR 5+)</option>
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label>Encumbrance Value</label>
        <input type="text" name="system.encumbranceValue" value="{{system.encumbranceValue}}" data-dtype="Number"/>
        <p class="hint">Character must have Might ≥ this value to avoid being Encumbered</p>
      </div>

      <div class="form-group">
        <label>
          <input type="checkbox" name="system.equipped" {{checked system.equipped}}/>
          Equipped
        </label>
      </div>
    </div>
  </section>
</form>
