<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Skill Name"/></h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="form-group">
        <label>Associated Attribute</label>
        <select name="system.attribute">
          {{#select system.attribute}}
          <option value="might">Might</option>
          <option value="edge">Edge</option>
          <option value="grit">Grit</option>
          <option value="wits">Wits</option>
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label>Bonus</label>
        <input type="text" name="system.bonus" value="{{system.bonus}}" data-dtype="Number" placeholder="0"/>
        <p class="hint">Bonus added to rolls using this skill</p>
      </div>
    </div>
  </section>
</form>
