<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/></h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="form-group">
        <label>Damage</label>
        <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d6"/>
      </div>

      <div class="form-group">
        <label>Weapon Type</label>
        <select name="system.weaponType">
          {{#select system.weaponType}}
          <option value="melee">Melee</option>
          <option value="ranged">Ranged</option>
          <option value="thrown">Thrown</option>
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label>Range</label>
        <select name="system.range">
          {{#select system.range}}
          <option value="touch">Touch</option>
          <option value="close">Close</option>
          <option value="medium">Medium</option>
          <option value="long">Long</option>
          <option value="distant">Distant</option>
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label>Equipment Slots Used</label>
        <input type="text" name="system.slotsUsed" value="{{system.slotsUsed}}" data-dtype="Number"/>
        <p class="hint">Usually 1 for single weapon, 0.33 for thrown bundles</p>
      </div>
    </div>
  </section>
</form>
