<div class="tab attributes" data-group="primary" data-tab="attributes">
  <div class="form-group">
    <label>{{localize "CONAN.Skill.Attribute"}}</label>
    {{formInput 
      fields.attribute 
      name="system.attribute" 
      value=system.attribute
    }}
  </div>

  <div class="form-group">
    <label>{{localize "CONAN.Skill.Bonus"}}</label>
    {{formInput 
      fields.bonus 
      name="system.bonus" 
      value=system.bonus
    }}
    <p class="hint">{{localize "CONAN.Skill.BonusHint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "CONAN.Skill.Effect"}}</label>
    {{editor 
      system.effect 
      target="system.effect" 
      button=true 
      owner=isOwner 
      editable=isEditable
      engine="prosemirror"
    }}
    <p class="hint">{{localize "CONAN.Skill.EffectHint"}}</p>
  </div>
</div>