{{!-- Skills Tab --}}
<div class="tab-content skills-tab" data-tab="skills">

  <div class="items-section skills-section">
    <div class="section-header">
      <h3><i class="fas fa-list"></i> Skills</h3>
      <button 
        class="item-create"
        data-action="createDoc"
        data-document-class="Item"
        data-type="skill"
        type="button"
        title="Create Skill"
      >
        <i class="fas fa-plus"></i> Add Skill
      </button>
    </div>

    <ol class="items-list skills-list">
      {{#each skills as |skill|}}
      <li class="item skill-item" data-item-id="{{skill.id}}" data-document-class="Item" data-drag="true">
        <div class="skill-header">
          <img src="{{skill.img}}" alt="{{skill.name}}" />
          <div class="skill-info">
            <h4>{{skill.name}}</h4>
            {{#if skill.system.staminaCost}}
            <span class="stamina-cost">
              <i class="fas fa-bolt"></i> {{skill.system.staminaCost}} Stamina
            </span>
            {{/if}}
          </div>
          <div class="skill-controls">
            <button 
              class="item-control item-edit"
              data-action="viewDoc"
              type="button"
              title="Edit"
            >
              <i class="fas fa-edit"></i>
            </button>
            <button 
              class="item-control item-delete"
              data-action="deleteDoc"
              type="button"
              title="Delete"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        
        <div class="skill-effect">
          <p>{{skill.system.effect}}</p>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>

</div>
