{{!-- Spells Tab --}}
<div class="tab-content spells-tab" data-tab="spells">

  <div class="items-section spells-section">
    <div class="section-header">
      <h3><i class="fas fa-magic"></i> Spells</h3>
      <button 
        class="item-create"
        data-action="createDoc"
        data-document-class="Item"
        data-type="spell"
        type="button"
        title="Create Spell"
      >
        <i class="fas fa-plus"></i> Add Spell
      </button>
    </div>

    <ol class="items-list spells-list">
      {{#each spells as |spell|}}
      <li class="item spell-item" data-item-id="{{spell.id}}" data-document-class="Item" data-drag="true">
        <div class="spell-header">
          <img src="{{spell.img}}" alt="{{spell.name}}" />
          <div class="spell-info">
            <h4>{{spell.name}}</h4>
            <span class="discipline">{{lookup ../config.disciplines spell.system.discipline}}</span>
          </div>
          <div class="spell-controls">
            <button 
              class="item-control spell-cast"
              data-action="castSpell"
              type="button"
              title="Cast Spell"
            >
              <i class="fas fa-wand-magic"></i> Cast
            </button>
            <button 
              class="item-control item-edit"
              data-action="viewDoc"
              type="button"
              title="Edit"
            >
              <i class="fas fa-edit"></i>
            </button>
            <button 
              class="item-control item-delete"
              data-action="deleteDoc"
              type="button"
              title="Delete"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        
        <div class="spell-details">
          <div class="spell-costs">
            {{#if spell.system.cost.life}}
            <span class="cost life-cost">
              <i class="fas fa-heart"></i> {{spell.system.cost.life}} Life
            </span>
            {{/if}}
            {{#if spell.system.cost.stamina}}
            <span class="cost stamina-cost">
              <i class="fas fa-bolt"></i> {{spell.system.cost.stamina}} Stamina
            </span>
            {{/if}}
            <span class="actions">
              <i class="fas fa-running"></i> {{spell.system.actions}} Action{{#if (gt spell.system.actions 1)}}s{{/if}}
            </span>
            <span class="range">
              <i class="fas fa-bullseye"></i> {{lookup ../config.ranges spell.system.range}}
            </span>
          </div>
          
          <div class="spell-effect">
            <p>{{spell.system.effect}}</p>
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>

</div>
