<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resource-group">
        <div class="resource">
          <label>Life Points</label>
          <div class="resource-content">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
            <span class="sep"> / </span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource">
          <label>Physical Defense</label>
          <span class="defense-value">{{system.defenses.physical.value}}</span>
        </div>
        <div class="resource">
          <label>Sorcery Defense</label>
          <span class="defense-value">{{system.defenses.sorcery.value}}</span>
        </div>
        <div class="resource">
          <label>Armor Rating</label>
          <span class="defense-value">{{system.armor.rating}}</span>
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">Stats</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <section class="sheet-body">
    <div class="tab stats" data-group="primary" data-tab="stats">
      <div class="stats-list">
        {{#each system.attributes as |attribute key|}}
        <div class="stat-block">
          <h3>{{lookup ../config.stats key}}</h3>
          <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number"/>
          <select name="system.attributes.{{key}}.die">
            {{#select attribute.die}}
            <option value="d6">D6</option>
            <option value="d8">D8</option>
            <option value="d10">D10</option>
            {{/select}}
          </select>
          <button class="rollable stat" data-stat="{{key}}"><i class="fas fa-dice-d20"></i></button>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="tab items" data-group="primary" data-tab="items">
      <div class="items-section">
        <h3>Weapons <a class="item-create" data-type="weapon"><i class="fas fa-plus"></i></a></h3>
        <ol class="items-list">
          {{#each weapons as |item|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <img src="{{item.img}}" width="24" height="24"/>
            <h4>{{item.name}}</h4>
            <span>{{item.system.damage}}</span>
            <a class="weapon-attack"><i class="fas fa-crosshairs"></i></a>
            <a class="weapon-damage"><i class="fas fa-burst"></i></a>
            <a class="item-edit"><i class="fas fa-edit"></i></a>
            <a class="item-delete"><i class="fas fa-trash"></i></a>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>

    <div class="tab description" data-group="primary" data-tab="description">
      {{editor system.biography target="system.biography" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
