<div class="conan-notification long-rest">
  <h3>
    <i class="fas fa-bed"></i> 
    {{localize "CONAN.LongRest"}}
  </h3>
  
  <div class="rest-info">
    <p>
      <strong>{{actor.name}}</strong> {{localize "CONAN.TakesLongRest"}}
    </p>
    
    <ul class="rest-benefits">
      <li><i class="fas fa-heart"></i> {{localize "CONAN.FullyHealed"}}</li>
      <li><i class="fas fa-bolt"></i> {{localize "CONAN.StaminaRestored"}}</li>
      <li><i class="fas fa-medkit"></i> {{localize "CONAN.RecoveriesRestored"}}</li>
      <li><i class="fas fa-star"></i> {{localize "CONAN.TalentsRestored"}}</li>
    </ul>
  </div>
</div>