<div class="conan-notification stamina-change {{#if gained}}gain{{else}}spend{{/if}}">
  <h3>
    <i class="fas fa-bolt"></i> 
    {{#if gained}}
      {{localize "CONAN.StaminaGained"}}
    {{else}}
      {{localize "CONAN.StaminaSpent"}}
    {{/if}}
  </h3>
  
  <div class="stamina-info">
    <strong>{{actor.name}}</strong>
    {{#if gained}}
      {{localize "CONAN.Gains"}}
    {{else}}
      {{localize "CONAN.Spends"}}
    {{/if}}
    <span class="stamina-amount">{{math amount "abs"}}</span>
    {{localize "CONAN.SP"}}
    {{#if reason}}
    <em>({{reason}})</em>
    {{/if}}
  </div>
</div>